.container {
    border: solid 1px rgb(0, 255, 255, 0.2);
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 55px;
    position: fixed;
    top: 160px;
    left: 250px;
    right: 0;
    bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    padding: 1rem;
    /* Hide scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    box-shadow:rgb(0, 255, 255, 0.2) 5px 5px,
    rgb(0, 255, 255, 0.1) 10px 10px;
}
.header{
    display: flex;
    flex-direction: row;

    align-items: center;
    margin-left: 40px;
}

.container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.component{
    border-radius: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 250px;
    transition: 0.4s ease-out;
}
.component:hover{
    cursor: pointer;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    transform: scale(1.09);
}
.container img{
    height: 120px;
    object-fit: cover;
    border-radius: 7px;
}
.container h4,p{
    text-align: center;
    color: white;
}

@media (max-width: 768px){
    .container{
        left: 0;
        
    }
    .component{
        width: 100px;
        height: 150px;
    }
}