.main{
    border: solid 1px rgb(0, 255, 255, 0.2);
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 55px;
    position: fixed;
    top: 160px;
    left: 250px;
    right: 0;
    bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    box-shadow:rgb(0, 255, 255, 0.2) 5px 5px,
    rgb(0, 255, 255, 0.1) 10px 10px;
    
}
.bodyies{
    margin:10px ;
    display: flex;
    height: 80px;
    width: 200px;
    cursor: pointer;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
    border-radius: 7px;
    transition: 0.5s ease-in-out;
}
.bodyies:hover{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    transform: scale(1.04);
}
.bodyies img{
    height: 70px;
    width: 60px;
    object-fit: contain;
    border-radius: 50%;
}
.bodyies p{
    padding:0px;
    margin: 0;
    color: white;
}
.bodyies h3{
    margin: 5px;
    color: white;
}
.inner{
    display:flex;
    flex-direction: column;
    margin-left: 8px;
}
@media (max-width: 768px){
    .main{
        left: 0;
    }
    .bodyies{
        width: 100px;
    }
    .bodyies h3{
        font-size: 12px;
        margin-top: 25px;
    }
    .bodyies p{
        font-size: 10px;
    }
    .bodyies img{
        margin-top: 30px;
        height: 40px;
        width: 35px;
    }
    
}