nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent); /* Adds transparency */
    z-index: 2; /* Ensures navbar stays on top */
    padding: 10px 0;
    overflow-x: hidden;
    transition: 0.5s ease-in-out;
}
.Delvy {
    width: 30%;
    text-align: center;
}
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    left: 5px;
    top: 15px;
    z-index: 100;
    color: white;
  }
.Delvy img {
    height: 25px;
}
.side-bar-mobile{
    display: block;
    position: fixed;
    width: 0px;
    height: 100%;
    background-color: black;
    z-index: 100;
    overflow-x: hidden;
    transition: width 0.5s ease-in-out;
}

.side-boxes-mobile{
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left:15px;
    margin-bottom:10px;
    margin-top: 25px;
    background-color:rgb(0, 255, 255, 0.3) ;
    border-radius: 10px;
}
.side-boxes-mobile h2{
    font-size: 18px;
    margin: 5px;
}
.side-boxes-mobile p{
    font-size: 11px;
    margin: 0;
    padding: 0;
    color: white;
}
.side-boxes-mobile:hover{
    background-color: rgb(0, 255, 255, 0.4);
    transform: scale(1.07);
}
.links {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 10px; 
}

.links input {
    border: solid white 1px;
    border-radius: 17px;
    height: 30px;
    flex: 1; /* Allow the input to grow and fill available space */
    max-width: 350px; /* Limit the maximum width */
    background-color: transparent;
    color:white;
}
.links button{
    border: none;
    border-radius: 17px;
    height: 30px;
    flex: 1;
    max-width: 100px;
    background-color:rgb(0, 255, 255, 0.4) ;
    transition: 0.4s ease-out;
    color: white;
}
.links button:hover {
    background-color:rgb(0, 255, 255, 0.9) ;
}

.link-nav a {
    text-decoration: none;
    color: white;
    font: bold 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    transition: 0.4s ease-out;
    margin-left: 10px;
}
.link-nav a:hover {
     color: cyan;
 }





 @media (max-width: 768px) {
    .hamburger{ 
        display: block;
    }
    .Delvy img {
        position: relative;
        height: 25px;
        left: 42px;
    }
    .link-nav{
        display: none;
    }
    .links input{
        position: relative;
        left: 50px;
        width: 130px;
    }
    .links button{
        position: relative;
        left: 50px;
    }
 }