body {
    overflow: hidden;
    margin: 0;
}
.App {
    padding-top: 70px; /* Prevents content from getting hidden */
    padding-left:250px;
    height: 800px;
    background-image: url("./assets/overlay.png");
    background-color: rgb(1,17, 24, 0.9);
    overflow: hidden;
    animation: fadeIn 0.5s ease-in-out;
}



.Delvy {
    width: 30%;
    text-align: center;
}

.Delvy img {
    height: 25px;
}

.links {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    font: bold 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.sign {
    text-align: center;
    width: 35%;
}

.sign a {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

.boxes {
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
}

.first {
    padding: 50px;
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: column;
    width: 40%;
}

h1, p {
    padding: 10px;
    color: white;
}

.second {
    margin-top: 200px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.second img {
    height: 600px;
}

ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

li img {
    height: 50px;
    width: 150px;
}
@media (max-width: 768px){
    .App{
        padding-left: 0px;
        
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}